
<body>
    <header class="wrapper-inner">
        <div class="header-bg">
            <div class="header-content">
                <div class="logo">
                    <!-- <img src="img/tmp_7ad90ead-3493-4e0f-8f02-f94139901849.png" /> -->
                    <h1>ProSync</h1>
                </div>
                <div class="logout">
                    <button><i class="fa fa-sign-out"></i> Logout</button>
                </div>
            </div>
        </div>
    </header>

    <nav class="navigation">
        <div class="nav-border">
            <div class="details">
                <ul>
                    <li class="welcome">
                        <p class="nav-head">Welcome,</p>
                        <span class="nav-body">Jenovas</span>
                    </li>
                    <li class="mobile-no">
                        <p class="nav-head">Mobile No:</p>
                        <span class="nav-body">7397300516</span>
                    </li>
                    <li class="email-id">
                        <p class="nav-head">Email ID:</p>
                        <span class="nav-body">dajenovas@gmail.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="paynow">
            <button class="paynow">Pay Now</button>
        </div>

    </nav>

    <main class="content-body">
        <div class="content">
            <div class="pack-details-header">
                <h2>Pack Details</h2>
            </div>
            <div class="pack-details-body">
                <div class="pack-details-button">
                    <!-- <button>Change Plan</button>
                    <button>Add Data</button> -->
                </div>
                <div class="pack-name">
                    <p>PACK NAME : <span>$499_POST_TELE</span></p><span class="count">$499.00</span>
                </div>
            </div>
            <div class="due-date">
                <p>DUE DATE : <span>20-10-2023</span></p>
            </div>
            <div class="pack-info">
                <p>PACK INFO :</p>
                <div class="pack-info-details">
                    <p class="a">DATA :</p><span class="a1">30 GB</span>
                    <p class="b">CALLS :</p><span class="b1">Unlimited</span>
                    <p class="c">MESSAGES :</p><span class="c1">100/day</span>
                    <p class="d">INTERNATIONAL_ROAMING :</p><span class="d1">Available</span>
                </div>
                
            </div>
        </div>
    </main>

    <footer class="footer">
    </footer>

</body>

