
<app-user-nav-bar></app-user-nav-bar>
<div class="total-container">
    <div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
    <label for="tab1">Data</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
    <label for="tab2">Calls</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
    <label for="tab3">SMS</label>
    
    <div class="tab-panels">
      <section id="marzen" class="tab-panel" >
           <div class="data-container">
                <div class="h6">160Kb</div>
                <div class="data-session">
                    Session end time : 11:34 AM
                    <span>₹ 0.00</span>
                </div>
                <div class="volte">Local 4g</div>
           </div>
      </section>
      <section id="rauchbier" class="tab-panel">
        <div class="data-container">
            <div class="h6">+91-6381369655</div>
            <div class="data-session">
                09:22 PM LOCAL - 4G
                <span>₹ 0.00</span>
            </div>
            <div class="volte">1 minute 10 sec</div>
       </div> 
    </section>
      <section id="dunkles" class="tab-panel">
        <div class="data-container">
            <div class="h6">+91-6381369655</div>
            <div class="data-session">
                09:04 AM LOCAL
                <span>₹ 0.00</span>
            </div>
            <!-- <div class="volte">1 minute 10 sec</div> -->
       </div> 
      </section>
    </div>
    
  </div>
</div>
  
  <!-- <p><small>Source: <cite><a href="https://www.bjcp.org/stylecenter.php">BJCP Style Guidelines</a></cite></small></p> -->