<!-- <div class="plan-details">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$1099</h5>
          <p class="card-text"></p>   in this we can use a hyper link tag for view details of the plan
        </div>
        <ul class="list-group list-group-flush"><pre>
          <li class="list-group-item">Validity</li>
          <li class="list-group-item">84 Days</li>
          <li class="list-group-item">A third item</li>
        </pre>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      
</div> -->
<app-user-nav-bar></app-user-nav-bar>
<body>
    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">Netflix Included</span>
            <div class="price-circle">
              <span class="price-title">
                <small>$</small><span>6.95</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div>
          <ul>
            <li>
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> 84 days
            </li>
            <li>
              <strong>2GB/Day</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix ,ProCinema
            </li>
            
          </ul>  
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">ECHO PLAN</span>
            <div class="price-circle">
              <span class="price-title">
                <small>$</small><span>16.95</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div>
          <ul>
            <li>
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> 84 days
            </li>
            <li>
              <strong>2GB/Day</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix ,ProCinema
            </li>
            
          </ul>  
          
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <div class="popular">POPULAR</div>
          <div class="pricing-header">
            <span class="plan-title">PRO PLAN</span>
            <div class="price-circle">
              <span class="price-title">
                <small>$</small><span>23.95</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div>
          <ul>
            <li>
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> 84 days
            </li>
            <li>
              <strong>2GB/Day</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix ,ProCinema
            </li>
            
          </ul>  
         
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="pricing-header">
            <span class="plan-title">BUSINESS PLAN</span>
            <div class="price-circle">
              <span class="price-title">
                <small>$</small><span>59.95</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div>
          <ul>
            <li>
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> 84 days
            </li>
            <li>
              <strong>2GB/Day</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix ,ProCinema
            </li>
            
          </ul>  
          
        </div>
      </div>
    </div>
  </body>